# Variables d'environnement
.env
# Certificats
private.pem
public.pem
# Données des services
infrastructure/authelia/notification.txt
infrastructure/nginx/data
infrastructure/db/
infrastructure/nextcloud/data
infrastructure/nextcloud/db
infrastructure/rocketchat/db