# --- Variables d'environnement ---
.env

# --- Certificats ---
private.pem
public.pem

# --- Données des services ---
# Authelia
infrastructure/authelia/notification.txt
# Nginx
infrastructure/nginx/data
# Gitlab
infrastructure/gitlab/config
infrastructure/gitlab/data
infrastructure/gitlab/logs
# Jenkins
infrastructure/jenkins/data
# Nextcloud
infrastructure/nextcloud/data
infrastructure/nextcloud/db
# Rocket.Chat
infrastructure/rocketchat/db
# LibreDesk
infrastructure/libredesk/config.toml
infrastructure/libredesk/uploads
infrastructure/libredesk/postgres-data
infrastructure/libredesk/redis-data

# --- Secrets ---
secrets/
